.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

# Spring Boot config
application.properties

### IntelliJ IDEA ###
.idea/modules.xml
.idea/jarRepositories.xml
.idea/compiler.xml
.idea/libraries/
.idea/*
.idea
logs/*
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### Eclipse ###
*.env
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store


### Local Spring Config (민감정보) ###
src/main/resources/application-local.yml

.env

.idea/
.idea
/src/main/resources/firebase/taveDevFCMKey.json
/src/main/resources/firebase/tave-surf-dev-firebase-adminsdk.json

### GCP ###
google-cloud-cli-*.tar.gz
tave-surf.env.example
/.claude/
/docs/
